@media (max-width: 1100px)
  .wrapper
    flex-wrap: wrap
    justify-content: flex-start
@media (max-width: 1078px)
  .wrapper
    &-card
      margin: auto
  .collection
    &-info
      margin: auto
      max-width: 660px
@media (max-width: 1065px)
  .stories
    &-wrapper
      justify-content: center
    &-about
      max-width: 100%  
      text-align: center
      margin-bottom: 128px
      &__title
        text-align: center
        max-width: inherit
        margin-right: 0px 
  .slick
    &-next
      top: 35%
      left: 40%
    &-prev
      top: 35%
      left: 50%                   
@media (max-width: 992px)
  .navbar
    &-menu
      padding: 34px 34px   
@media (max-width: 768px)
  .container
    max-width: 728px
    width: 100%
  .navbar
    &-menu
      margin-bottom: 15px
      &__list
        display: none
  .menu
    &-button
      display: flex
      width: 24px
      height: 24px
      flex-direction: column
      align-items: center
      justify-content: space-around
      background-color: transparent
      margin-right: 9px
      &__line
        width: 22px
        height: 2px
        background-color: #3A4C66
  .hero
    &-info
      padding: 28px 28px
      background-image: url('../img/tablet-image.png')
      background-repeat: no-repeat
      background-size: cover
      background-position: 50% 50%
      margin-bottom: 80px
      &__label
        margin-top: 0px
        margin-bottom: 24px
      &__title
        max-width: 407px
        width: 100%
        min-height: 384px
        margin-bottom: 38px
      &__subtitle
        font-size: 44px
        line-height: 60px
        letter-spacing: 0px      
      &__text
        margin: 0px
        font-size: 18px
        line-height: 32px
      &__block
        margin-bottom: 20px  
      &__button
        max-width: 233px
        width: 100%
        min-height: 56px
        margin-bottom: 36p
      &__item
        margin-right: 25px
      &__image
        margin-right: 5px
  .wrapper
    justify-content: center
    &-card
      max-width: 680px
      margin-bottom: 40px
  .card
    margin-right: 8px 
  .collection
    margin-bottom: 80px
    &-info
      padding-top: 0px
      max-width: 680px
      &__text
        margin-bottom: 25px          
  .trending
    margin-bottom: 40px
    &-wrap
      max-width: 608px
    &-wrapper
      justify-content: space-between   
    &-info
      &__text
        flex-direction: column
      &__title
        margin-bottom: 28px  
      &__list
        margin: 0px 0px 10px 0px
        padding-left: 0px
        max-width: 366px
    &__image
      width: 280px
      height: 350px
      margin-bottom: 16px
    &__price
      padding-left: 6px
      padding-right: 14px
  .slider
    max-width: 680px
    width: 100%
  .testomonial
    &__icon
      margin-bottom: 18px
    &__text
      max-width: 630px
      letter-spacing: 0px
      margin-bottom: 40px
    &__description
      letter-spacing: -0.8px
      margin-bottom: 23px
  .slick
    &-dots
      margin: 0px
      padding-left: 0px
    &-next
      top: 36%
      left: 41%
    &-prev
      top: 36%
      left: 51%    
  .stories
    &-wrapper
      padding-top: 105px
    &-about
      &__title
        margin-bottom: 18px
      &__text
        max-width: 510px
    &-slider
      &__wrapper
        justify-content: space-between
        flex-wrap: wrap    
@media (max-width:650px)
  .wrapper
    &-card
      flex-wrap: wrap
      justify-content: center
  .collection
    &-card
      &__image
        margin-bottom: 20px
  .card
    &__image
      margin-bottom: 20px
  .trending
    &-wrapper
      max-width: 550px
      justify-content: center
@media (max-width:636px)
  .stories
    &-slider
      &__wrapper
        justify-content: center
  .slick
    &-next
      top: 25%
      left: 30% 
    &-prev
      top: 25%
      left: 60%         
@media (max-width:320px)
  .container
    max-width: 320px      
  .navbar
    &-menu
      padding-left: 23px
      padding-right: 15px
      margin-bottom: 0px
      padding-bottom: 42px
      padding-top: 40px
  .hero
    &-info
      margin-bottom: 0px
      padding: 0px 0px 18px 0px
      background-image: url('../img/mobile-image.png')
      background-repeat: no-repeat      
      display: flex
      flex-direction: column
      min-height: 899px
      justify-content: flex-end
      align-items: center         
      &__subtitle
        font-size: 32px
        line-height: 40px
        letter-spacing: -1px
      &__title
        padding-top: 48px
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 0px
      &__label
        padding: 2px 26px
        margin-bottom: 0px
        
      &__text
        width: 280px
        font-size: 16px
        line-height: 28px
        text-align: center     
      &__block
        display: flex
        flex-wrap: wrap
        width: 295px
        justify-content: center
        margin-bottom: 0px
      &__description
        width: auto
        margin-bottom: 12px  
      &__button
        padding: 13px 24px
        font-size: 16px
        line-height: 22px
        min-height: 48px
        margin-bottom: 24px       
      &__list
        display: flex
        flex-wrap: wrap
        justify-content: center
      &__item
        margin: 0px 0px 18px 0px
      &__image
        width: 24px
        height: 24px
        margin-right: 8px
        margin-bottom: 0px
      &__sign
        margin-right: 16px
        &_g
          margin-right: 0px  
  .collection
    padding-top: 64px
    margin-bottom: 65px
    &-card
      flex-direction: inherit
      width: inherit
      margin-bottom: 14px
      &__image
        width: 290px
        height: 300px
        object-fit: cover
        margin-bottom: 0px
    &-info
      text-align: center
      &__title
        font-size: 28px
        line-height: 36px
        letter-spacing: 0px
        margin-bottom: 15px
      &__text
        font-size: 16px
        line-height: 28px
        margin-right: 0px
        width: 280px
        margin: auto
        margin-bottom: 25px
      &__link
        font-size: 16px
        line-height: 22px    
  .wrapper
    &-card
      max-width: min-content
      flex-wrap: wrap
      margin-bottom: 5px     
  .card
    margin-right: 0px
    &__image
      width: 138px
      height: 97px
  .trending
    &-wrapper
      max-width: 290px
      margin: auto
      justify-content: space-between  
    &-info
      margin-bottom: 25px
      &__title
        font-size: 28px
        line-height: 36px
        letter-spacing: 0px
        margin-bottom: 24px
      &__link
        font-size: 16px
        line-height: 22px
        &_n
          font-size: 16px
          line-height: 22px
      &__list
        max-width: 290px 
    &__image
      width: 140px
      height: 170px
      margin-bottom: 10px
    &__description
      padding-left: 0px
      font-size: 16px
      line-height: 20px
    &__price
      padding-left: 0px
      justify-content: end
      &-pricetag
        font-size: 14px
        line-height: 24px
        margin-right: 5px
      &-icon
        width: 14px       
    &__card
      min-height: 230px
      margin-bottom: 23px
  .testomonial
    &__text
      max-width: 282px
      font-size: 18px
      line-height: 36px
      letter-spacing: 0.2px
      margin-bottom: 20px
    &__description
      max-width: 161px
      margin-bottom: 12px
  .slider
    &-dots
      padding-left: 10px
  .stories
    &-wrapper
      padding-top: 55px
    &-about
      max-width: 280px
      margin-bottom: 104px
      &__title
        font-size: 28px
        line-height: 36px
      &__text
        font-size: 16px
        line-height: 28px
    &-slider
      &__image
        width: 27
    &-wrap
      width: 270px
    &-info
      &__text
        font-size: 20px
        line-height: 24px
      &_t
        padding: 28px 4px 20px 17px       
  .slick
    &-arrow
      width: 55px
    &-next
      top: 21%
    &-prev
      top: 21%
      left: 51%
              


               

