.logo
  width: 90px
  height: 28px
.navbar
  &-menu
    display: flex
    justify-content: space-between
    align-items: center
    padding: 34px 74px
    &__list
      padding-left: 0
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 594px
      width: 100%
    &__item
      font-family: Open Sans
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
    &__link 
      color: #183B56
      text-decoration: none
    &__button
      padding: 13px 24px
      background-color: transparent
      border: 2px solid #1565D8
      border-radius: 8px
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px    
      color: #1565D8
    

