.hero
  &-info
    background-image: url('../img/hero-image.png')
    background-repeat: no-repeat
    background-size: cover
    &__lable
      background-color: #36B37E
      opacity: 0.1
      border-radius: 2000px  
      padding: 6px 16px
      font-family: Open Sans
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px 
      color: #36B37E  
      
